:root{
  --blue: linear-gradient(180deg, #060ce9 0%, #011BA9 100%);
}
body {
  font-family: 'ITC Korinna Std', sans-serif;
  color: white;
  font-size: 2vw;
  text-align: center;
  padding: 1em;
  background: #2E2E3A;
}

.question-card{
  opacity:0;
  pointer-events:none;
  transition: opacity 0.4s;
  background: var(--blue);
  position: fixed;
  font-size: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: white solid 10px;
  width: 95%;
}
.question-card-inner{
  padding: 75px 25px;
}
.question-card.visible{
  opacity: 1;
  pointer-events:initial;
}
#spin-container .invisible{
  opacity: 0;
}
#spin-container{
  opacity: 1;
}
.category-text{
  top:0;
  margin-bottom: 40px;
}
.clue-text{

}
.answer-text{
  margin-top:40px;
  color: red;
}
#start{
  padding: 10px;
  background-color:#9c5503;
  margin-bottom: 10px;
}
/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c */
